<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base Profesional{% endblock %}</title>

    <!-- 🌟 TAILWINDCSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- 🌟 ICONOS BOXICONS -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">

    <!-- 🌟 FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bebas+Neue&family=Bungee+Shade&family=Geist+Pixel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- 🌟 HEADER FIJO -->
    <header class="sticky top-0 z-50 p-4 bg-white shadow-sm w-full">
        <ul class="flex flex-row justify-end items-center gap-20">
            <li><a href="{% url 'ListaServicios' %}" class="hover:text-[#659287] transition">Ver Mis Servicios</a></li>
            <li><a href="{% url 'CrearServicios' %}" class="hover:text-[#659287] transition">Crear Nuevo Servicio</a></li>
            <li><a href="{% url 'ReservasSolicitadas' %}" class="hover:text-[#659287] transition">Reservas Solicitadas</a></li>

            <li class="flex items-center gap-2 cursor-pointer">
                <i class="bx bx-user-circle text-xl"></i> 
                {{ request.session.nombre_usuario }} 
                <div class="btns-abrir-cerrar">
                    <button class="btn-abrir cursor-pointer"><i class="bx bx-caret-big-left"></i></button>
                </div>
            </li>
        </ul>
    </header>

    <!-- 🌟 MENÚ DE OPCIONES -->
    <div class="p-2 rounded-md opciones bg-gray-300 hidden fixed right-6 top-16 z-50 hover:bg-red-600 hover:text-white transition duration-300 ease-in-out shadow-md">
        <ul>
            <li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
        </ul>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'JS/IU/components/iuBaseProfesional.js' %}"></script>
</body>
</html>