<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    <!-- 🌟 TAILWINDCSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- 🌟 ICONOS BOXICONS -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
</head>
<body>

  
    <header class="p-4 bg-white shadow-sm">
        <ul class="flex flex-row justify-end items-center gap-20">
            <li><a href="">Ver Mis Servicios</a></li>
            <li class="">
                <a href="" class="flex items-center gap-2 cursor-pointer">
                    <i class="bx bx-user-circle text-xl"></i> 
                    {{ request.session.nombre_usuario }}<i class="bx bx-caret-big-left cursor-pointer" /></i>
                </a>
            </li>
        </ul>
    </header>
  <!--Opciones-->

    <div class="p-1 rounded-md opciones bg-gray-300 absolute left-285 top-9 hover:bg-red-600 hover:text-white duration-300 ease-in-out">
        <ul>
            <li><a href="{% url "cerrar_sesion" %}">Cerrar Sesion</a></li>
            <hr>
           
        </ul>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

  
</body>

<script src="{% static 'JS/IU/iuBase.js' %}"></script>
</html>