{% block content %}
<head>
   
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Bungee+Shade&family=Geist+Pixel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-[#E6F2DD] h-screen w-screen overflow-hidden">

    <div class="container flex flex-1 justify-center items-center p-4 h-full">

        <!--🌟FORMULARIO-->

         <div class="Form bg-white flex flex-col p-5 w-full max-w-sm h-auto rounded-md shadow-lg">
   
            <div class="titulo-form  text-center mb-5">
<h1 class="titulo text-[#659287] font-[Roboto] font-extrabold text-xl">Registro</h1>
    </div>

            <form action="" method="post">
    {% csrf_token %}
 
    <div class="container-labels flex flex-col gap-1">

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre_usuario" class="rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" required>
        
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido_usuario" class="rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" required>
        
        <label for="correo">Correo:</label>
        <input type="email" name="correo_usuario" class="rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" required>
        
        <label for="clave">Clave:</label>
        <input type="password" name="password" class="rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" required>
        
        <label for="clave_confirm">Clave confirmada:</label>
        <input type="password" name="password_confirm" class="rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" required>

        <label for="Rol">Rol:</label>
        <select class="rol-choose rounded-md bg-[#E8E1E1] p-1 focus:outline focus:outline-[#659287]" name="rol" >
            <option value="Profesional">Profesional</option>
             <option value="Cliente">Cliente</option>
        </select>

        <div class="btns flex flex-row justify-center mt-2">
            <input type="Submit" class="transition hover:bg-[#659287] bg-[#88BDA4] text-white rounded-md p-2 w-full cursor-pointer" name="btn-registrar" value="Registrarse">
        </div>
        
    </div>

     <div class="links links text-center mt-4">
            <a href="{% url 'inicio_sesion' %}" class="transition hover:text-[#659287] underline decoration-solid text-[#88BDA4]">¿Tienes cuenta? Inicia Sesion</a>
        </div>

</form>
</div>

<!--🌟IMG FONDO-->
<!--🌟 SECCIÓN DE LA IMAGEN CON CORRECCIÓN DE BORDES -->
<div class="relative hidden md:block flex-1 h-[calc(100%+1rem)] -mt-4 -mr-4">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/static/IMG/img_fondo.jpg');"></div>
    <!-- Gradiente que suaviza la unión con el fondo del formulario -->
    <div class="absolute inset-0 bg-[linear-gradient(to_left,transparent_75%,#E6F2DD_100%)]"></div>
</div>


</div>
</body>
{%endblock  %}